html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, rgba(70,130,180,1) 30%, rgba(123,104,238,1) 50%, rgba(147,112,219,1) 70%);
    justify-content: center;
    align-items: center;
}


.contenido {
    width: 100%;
    max-width: 600px; 
    margin: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.titulo{
    text-align: center; 
}


.pr{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000; 
    background-color: transparent; 
    margin-bottom: 20px; 
}


.boton{
    display: block; 
    width: 50%; 
    margin: 20px auto; 
    padding: 10px 0; 
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    animation: pulse 2s infinite; 
}

/* Animación para el botón */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.boton:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.boton:hover {
    background-color: #f8f8f8; 
}

.boton-redireccion{
    display: block; 
    width: 20%; 
    margin: 20px auto; 
    padding: 10px 0; 
    border: none;
    border-radius: 5px;
    background-color: #42e0d3;
    cursor: pointer;
    
}